*{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    padding: 0;
    
}



body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    
}

.ite{
    color: #e6e6e6;
    
}


li{
    list-style: none;
}



#flex-item{
display: flex;
width: 100%;
margin: 0;
padding: 0;

}

iframe
{
    height: 100vh;
    margin: 0;
}

.heading{
width: 20%;
height: 100%;
padding: 0;
}

.title{
color: #092834;
font-size: 30px;
line-height: 46px;
font-weight: 700;
padding-left: 10px;
}


.nav-item:not(.nav-item:last-of-type){
margin: 0 0 80px 0;
background-color:#092834;
padding: 10px;
font-weight: 600;
font-size: 16px;
letter-spacing: 1px;
line-height: 25px;
color: #fff;
}

.list{
    padding: 5px;
}
.nav-item:last-of-type{
background-color:#092834;
padding: 10px;
font-weight: 600;
margin: 0 0 30px 0;
font-size: 16px;
letter-spacing: 1px;
line-height: 25px;
color: #fff;
}

.heading-na{
    margin: 0;
    padding: 0;
}

nav{
    margin: 0;
    padding:0;
}
.heading-nav{
    display: flex;
    position: relative;
    margin-left: 0;
}

.burger{
    display: none;
    cursor: pointer
    }


    .burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(228, 226, 226);
    margin: 5px;
    }



main{
    width: 80%;
    background-color: #fff;
}


footer{
    background-color: #1C1C1C;
}

footer p{
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    color: #fff;

}

a{
    text-decoration: none;
    color: inherit;
}

.navig{
    display: none;
}


@media (min-width: 1025px) and (max-width: 1200px){

    .title{
        font-size: 22.51px;
        line-height: 34.5px;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

    .title{
        font-size: 17px;
        line-height: 26px;
    }

    .item{
        font-size: 12px;
        line-height: 19px;
    }
}

@media screen and (max-width:768px){


.heading{
    height: 1cm;
}
    .title{
        font-size: 12px;
        line-height: 16px;
        padding-top: 3px;
        background-color: #092834;
        color: #fff;
    }

    .item{
        font-size: 8px;
        line-height: 11.8px;
        
    }

    #flex-item{
        flex-wrap: wrap;
        gap: 0px;
    }

    .heading{
        display: flex;
        width: 100%;       
        height: auto;
        margin: 0 5px;
        background-color: #092834;

    }

    .nav-item:not(.nav-item:last-of-type){
        font-size: 18px;
        font-weight: bold;
        
    }

    .nav-item:last-of-type{
        font-size: 18px;
        font-weight: bold;
    }


    .list{
        display: none
    }
.navig-a{
    display: flex;
    gap: 60px;
    padding: 20px;
    margin-left: 300px;
    position: absolute;
       right: 0px;
       height: auto;
       top: 5vh;
       background-color: #092834;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 0.5s ease-in;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 #092834;
        font-size: 12px;
}

    main{
        width: 100%;
    }

    .burger{
        display: block;
        margin-left: 170px;

    }

body{
    overflow-x: hidden;
}

iframe{
    overflow-x: hidden;
}

#flex-item{
    overflow-x: hidden;

}
    
}




