html{
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.all{
    padding:50px 20px 20px 30px;
    display: flex;
    gap: 40px;
}


.services{

    background-color: #F0F7D4;
    padding: 5px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #585656;
    width: 40%;
    z-index: 0;
    margin-left: 20px;


}
#title{
    line-height: 38px;
        color: #585656;
        text-align: justify;
        font-size: 32px;
        padding-left: 25px;

    }

    ul{
        line-height: 1.6rem;
        color: #585656;
        font-family: 'poppins', sans-serif;
        text-align: justify;
        font-size: 18px;
    }

    li{
        margin: 20px;
    }
    
    .price-bar{
        background-color: #F0F7D4;
        margin: 0 auto;
        width: 40%;
        padding: 0 50px;
        border-radius: 5px;
        box-shadow: 0 0 20px 0 #585656;
        padding: 10px 20px 20px 20px;
        border-left: none;
    }


    .circle{
        margin: 10px auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: linear-gradient(45deg,#585656, #F0F7D4 );
        color: #fff;
    }

    #after-title{
        line-height: 38px;
        color: #585656;
        text-align: justify;
        font-size: 32px;
        text-transform: capitalize;
    }
    .money{
        text-align: center;
        color: #092834;
        font-size: 30px;
        padding: 28px;

    }
    #price{
        line-height: 1.70rem;
        font-family: 'poppins', sans-serif;
        color: #585656;
        font-size: 18px;

    }

    .after{
        color: #585656;
        margin-top: 80px;
        font-size: 18px;
    }

    @media (max-width: 870px){

        .all{
            flex-wrap: wrap;
        }
        .services{
            width: 100%;
            padding: 0;
            margin: 20px 5px 10px 5px;
        }

        .price-bar{
            width: 100%;
         
            margin: 20px 5px 10px 5px;
        }

        #after-title, #price, .after{
            text-align: center;
        }

        ul{
            text-align: start;
        }
    }